.wrapper {
  margin: 0 auto;
  /*width: 1000px;*/
  position: relative;
}

.card {
  z-index: 3;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 26px;
  box-shadow: -35px 35px 68px 0px rgba(189, 186, 186, 0.5), inset 8px -8px 16px 0px rgba(189, 186, 186, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
}

